@model IEnumerable<YazilimVanSorunBildirme.Models.Basvuru>

@{
    ViewBag.Title = "Index";
}

<h2>Basvurular Listesi</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.konum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.basvuru_zamani)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.basvuru_durumu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dogrulanan_kisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sorun_turu.sorun_turu1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kurum.kurum_adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yetkililer.ad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.konum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.basvuru_zamani)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.basvuru_durumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dogrulanan_kisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sorun_turu.sorun_turu1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kurum.kurum_adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yetkililer.ad)
            </td>
            <td>


                    @Html.ActionLink("Şikayete Cevap yaz", "CevapEdit", new { id = item.basvuru_id }, new {@class = "link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" })
                    @Html.ActionLink("Şikayetin Durumunu güncelle", "DurumEdit", new { id = item.basvuru_id }, new { @class = "link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" }) |

                    @Html.ActionLink("Şikayetin Detayını gör", "Details", new { id = item.basvuru_id }, new { @class = "link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" }) |
                    @Html.ActionLink("Şikayeti Sil", "Delete", new { id = item.basvuru_id }, new { @class = "link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" })
            </td>
        </tr>
    }

</table>
